.cards-container{
    display: block;
    position: relative;
    -webkit-perspective: 3000px;
    -moz-perspective: 3000px;

    -webkit-transition: z-index .4s ease-in-out;
    -moz-transition: z-index .4s ease-in-out;
    transition: z-index .4s ease-in-out;
}
.cards-layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.cards-container .cards-last{
    z-index: 700;
}
.cards-container.cards-openLeft .cards-front{
    z-index: 900;
    -webkit-transform: rotateY(0deg) translateX(0%);
    -moz-transform: rotateY(0deg) translateX(0%);
    transform: rotateY(0deg) translateX(0%);
}
.cards-container.cards-openLeft .cards-back{
    z-index: 800;
    -webkit-transform: rotateY(180deg) translateX(-100%);
    -moz-transform: rotateY(180deg) translateX(-100%);
    transform: rotateY(180deg) translateX(-100%);
}
.cards-container.cards-openRight .cards-front{
    z-index: 900;
    -webkit-transform: rotateY(0deg) translateX(0%);
    -moz-transform: rotateY(0deg) translateX(0%);
    transform: rotateY(0deg) translateX(0%);
}
.cards-container.cards-openRight .cards-back{
    z-index: 800;
    -webkit-transform: rotateY(180deg) translateX(100%);
    -moz-transform: rotateY(180deg) translateX(100%);
    transform: rotateY(180deg) translateX(100%);
}

.cards-animated{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}
.cards-container.cards-openRight .cards-layer.cards-animated{
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    transform-origin: right center;
}
.cards-container.cards-openLeft .cards-layer.cards-animated{
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;
}

.cards-container.cards-openRight.cards-open .cards-front{
    z-index: 800;
    -webkit-transform: rotateY(180deg) translateX(0%);
    -moz-transform: rotateY(180deg) translateX(0%);
    transform: rotateY(180deg) translateX(0%);
}
.cards-container.cards-openRight.cards-open .cards-back{
    z-index: 900;
    -webkit-transform: rotateY(360deg) translateX(100%);
    -moz-transform: rotateY(360deg) translateX(100%);
    transform: rotateY(360deg) translateX(100%);
}
.cards-container.cards-openLeft.cards-open .cards-front{
    z-index: 800;
    -webkit-transform: rotateY(-180deg) translateX(0%);
    -moz-transform: rotateY(-180deg) translateX(0%);
    transform: rotateY(-180deg) translateX(0%);
}
.cards-container.cards-openLeft.cards-open .cards-back{
    z-index: 900;
    -webkit-transform: rotateY(0deg) translateX(-100%);
    -moz-transform: rotateY(0deg) translateX(-100%);
    transform: rotateY(0deg) translateX(-100%);
}